.section {
    width: auto;
}

#navbar {
    width: 100%;
    display: inline-block;
}

#about_and_store {
    text-align: left;
    padding-left: 5px;
}

.right-section {
    float: right;
}

li {
    padding: 10px;
    display: inline-block;
}

ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

#main {
    margin: auto;
    margin-top: 175px;
    width: 50%;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-bar {
    margin-top: 30px;
    border-radius: 25px;
    height: 40px;
    border-width: 0.5px;
    border-color: silver;
}

#buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
}

#footer {
    display: block;
    position: absolute;
    margin-left: 0px;
    bottom: 0px;
    background-color: rgb(238, 237, 237);
    width: 100%;
}

#links {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.left {
    height: 100%;
    margin: auto;
}

.right {
    height: 100%;
    margin: auto;
}

#location {
    border-style: none none solid none;
    border-width: 0.5px;
    border-color: rgb(204, 204, 204);
}

